{% extends "inc/base_2.html" %}

{% load bootstrap5 %}
{% block content %}
<div class="mt-5">
    <h2 class="py-3 mb-3">Login</h2>

    <form novalidate class="col-sm-6" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="d-flex justify-content-between">
            <a type="button" href="{% url 'register' %}" class="mx-2 px-3 btn btn-outline-dark">Create new account</a>
            <button type="submit" class="btn btn-dark">Login</button>
        </div>
    </form>
</div>


{% endblock content %}